---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Prices from '~/components/widgets/Pricing.astro';

const metadata = {
  title: 'Central Illinois Helpdesk',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'What is Tier 1?',
        href: '#features',
        target: '',
        icon: 'line-md:chevron-double-down',
      },
      // { text: 'Login', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/illustrations/itsupport.svg',
      alt: 'Central Illinois Helpdesk',
      type: 'svg',
      width: '800px',
      height: '600px',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Tier 1:</span> From Printeres to Passwords
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">Front Line Support</span> to handle fundamental IT issues such as password resets, hardware
      and software troubleshooting, ticket triaging, and more.
    </Fragment>

    <Note />
  </Hero>
  <Features
    id="tier1"
    tagline="Your Front Lines"
    title="What is Tier 1 Support?"
    items={[
      {
        title: 'Basic Troubleshooting',
        description:
          'Encounter a glitch? Reach out to us via email, chat, or phone, and our local technical experts will swiftly resolve your basic IT issues, ensuring minimal downtime.',
        icon: 'clarity:application-solid',
      },
      {
        title: 'Password Resets',
        description:
          "Everyon'es locked themselves out (us included), don't become a headline. We'll help keep your data safe, giving you peace of mind and ensuring your business's data is safe.",
        icon: 'clarity:lock-solid',
      },
      {
        title: 'Software Support',
        description:
          'From installation to troubleshooting, our team is here to support all your software needs. We provide guidance through the complexities of software setup, usage, and optimization.',
        icon: 'clarity:cog-solid',
      },
      {
        title: 'Documentation',
        description:
          'Access comprehensive support for all your hardware, from printers to servers. We provide fast, reliable solutions to keep your operations smooth and efficient.',
        icon: 'clarity:file-solid',
      },
      {
        title: 'Triage and Esclation',
        description:
          'Complex issues can critically impact your business. Our tier 1 team will help identify workarounds, get your ticket infront of the right tier 2 expert, and ensure that your issues are fully resolved quickly.',
        icon: 'clarity:flow-chart-solid',
      },
      {
        title: 'Account Management',
        description:
          'Navigate the complexities of your IT infrastructure with our expert account management services. We partner with you to maximize your technology investments and enhance operational efficiency.',
        icon: 'clarity:cloud-network-line',
      },
    ]}
  />
  <Prices
    title="Our prices"
    subtitle="Choose the plan that works for your business"
    prices={[
      {
        title: 'essentials',
        subtitle: 'Great for low volume support',
        price: 299,
        period: 'per month',
        items: [
          {
            description: 'Unlimited Remote Tier 1 Support',
          },
          {
            description: '48-Hour Ticket Response Time',
          },
          {
            description: 'Free Project Consultations',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: '#',
        },
      },
      {
        title: 'elevated',
        subtitle: 'Perfect for growing businesses',
        price: 699,
        period: 'Per Month',
        items: [
          {
            description: 'Everything from Essentials',
          },
          {
            description: '24-Hour Ticket Response Time',
          },
          {
            description: 'Unlimited Remote Tier 2 Support',
          },
          {
            description: 'Quarterly Technology Reviews',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'rapid response',
        subtitle: 'Best for companies with critical needs',
        price: 1599,
        period: 'Per Month',
        items: [
          {
            description: 'Everything from Elevated',
          },
          {
            description: '1-Hour Ticket Response Time',
          },
          {
            description: 'Free Local Onsite Support',
          },
          {
            description: 'Dedicated Knowledge Base Portal',
          },
          {
            description: 'Monthly Technology Reviews',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: '#',
        },
      },
    ]}
  />
  <!-- <Content
    isReversed
    tagline="Your Personalized Helpdesk Tech Staff"
    title="Local IT Support Services"
    items={[
      {
        title: 'Tier 1 and 2+ Support',
        description:
          'Printers, desktops, laptops, servers, and more. Issues happen, we get it, and wasting time is not an option to when you need to keep your business moving forward.',
      },
      {
        title: 'Rapid Response Times',
        description:
          'We understand better than most that downtime is costly, so we offer packages to ensure that your tickets are responded to within 1-hour and a resolution just as quickly.',
      },
      {
        title: 'Long Term Partnerships',
        description:
          "You need a partner you can trust with critical issues as much as one who's willing to help you navigate modernization and growth, even when it leads to a reduction in billable hours",
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Local IT Support Services Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Remote and OnSite Technical Support
      </h3>
      We ensure our local team is available to help you with your IT needs both onsite and remotely.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->
  <Note />
  <Features2
    title="Most Popular Services"
    subtitle="What do businesses use CI Helpdesk for?"
    items={[
      {
        title: 'Tier 1 Support',
        description:
          "Printers, password resets, account setups, and even propriatary software troubleshooting. We've done it all.",
        icon: 'flat-color-icons:template',
      },
      // {
      //   title: 'IT Procurement',
      //   description:
      //     "Streamline the buying process and ensures you get the best technology at the right price.",
      //   icon: 'flat-color-icons:gallery',
      // },
      {
        title: 'Infrastucture Management',
        description:
          'From VOIP to servers, we manage your entire IT infrastructure, so you can rely on a seamless, secure, and efficient network operations.',
        icon: 'flat-color-icons:parallel-tasks',
      },
      {
        title: 'IT Project Management',
        description:
          'Helping clients navigate the complexities of major IT projects. We help with everything from requirements gathering to implementation.',
        icon: 'flat-color-icons:timeline',
      },
      {
        title: 'Business Process Analysis',
        description:
          "This isn't the typical 'you're doing it wrong' analysis. We work to carefully understand the business to deliver the best solutions.",
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Device Management',
        description:
          "We're helping to manage the complexity of modern end point management to ensure devices are up to date and secure.",
        icon: 'flat-color-icons:multiple-devices',
      },
      // {
      //   title: 'Business Automation',
      //   description: 'Helping to eliminate manual and tedius tasks will reduce errrors, and free your staff to better focus on adding value to your customers.',
      //   icon: 'flat-color-icons:genealogy',
      // },
      // {
      //   title: 'Tier 2+ Support',
      //   description:
      //     'Major system outages and other complex issues. Our team works quickly to reduce downtime and keep things moving.',
      //   icon: 'flat-color-icons:business-contact',
      // },
      {
        title: 'Security Management',
        description:
          "In the age of constant threats, we're helping safeguard business data and digital assets, giving our clients peace of mind.",
        icon: 'flat-color-icons:privacy',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts title="Learn More" } />

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]} /> -->

  <!-- <Stats
    stats={[
      { title: 'Tickets', amount: '3,027' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Sign Up Today',
        href: '/signup/',
        target: '_blank',
        icon: 'line-md:clipboard-to-clipboard-check-transition',
      },
    ]}
  >
    <Fragment slot="title">
      Central Illinois <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">HelpDesk</span>
    </Fragment>
    <Fragment slot="subtitle">
      <span class="text-justify">You've made it this far, sign up and let's get started today.</span>
    </Fragment>
  </CallToAction>
</Layout>
